#mainbox{
  margin-left: 30px;
  width: 500px;
  line-height: 25px;
}

.firstbox{
  padding-left: 20px;
  border-bottom: 2px solid grey;
}

.foto{
  text-align: center;
}

.firstbox h2{
  text-align: center;
}

.main{
  border-bottom: 2px solid grey
}

.main p{
  padding-left: 20px;
}

.contacts{
  padding-left: 20px;
  border-bottom: 2px solid grey
}

.lastbox{
  padding-left: 20px;
}
