body {
  background-color: #EFEFEF;
}

.wrapper{
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  width: 500px;
  line-height: 25px;
  background-color: #FFFFFF;
}

.firstbox{
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 10px;
  border-bottom: 2px solid #DDDDDD;
}

.foto{
  text-align: center;
}

.firstbox h2{
  text-align: center;
}

.main{
  margin-left: 40px;
  margin-right: 40px;
  border-bottom: 2px solid #DDDDDD;
}

.main p{
  padding-left: 10px;
}

.contacts{
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 10px;
  border-bottom: 2px solid #DDDDDD;
}

.lastbox{
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 10px;
}
