body {
  background-color: #EFEFEF;
}

.wrapper{
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  width: 500px;
  line-height: 25px;
  background-color: #FFFFFF;
}

.box {
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 20px;
  border-bottom: 2px solid #DDDDDD;
}

.name{
  text-align: center;
}

.foto{
  text-align: center;
}

.lastbox{
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 10px;
  border-bottom: none;
}
